@media (min-width: 1100px){
    body{
        margin: 0.3vw;
        padding: 16px;
        background-image: url(Images/backiiiii.png);
        background-attachment: fixed;
        font-family: 'MedievalSharp', cursive;   
    }

    header{
        display: flex;
        background-attachment: fixed;  
    }

    .date>p{
        margin-top: none;
        margin-bottom: 0%;
        text-align: center;
    }
    h1{         
        font-size: 5vw;     
        font-family: 'MedievalSharp', cursive;
        margin-right: 20%;     
    }  

    h2{     
        font-family: 'MedievalSharp', cursive;     
        text-align: center;     
        font-size: 3vw; 
    }  
    .banniere1{
        margin: 0;
        display: flex;
        width: 100%;
        margin-top: 5%;
        height: auto;
        align-items: center;
        flex-direction: row-reverse;
    }
    .banniere1>img{
        width: 10%;
        height: auto;
        align-items: center;
        margin-right: none;
        margin-top: 2%;
    }

    .intro>p {     
        font-size: 1.5vw;     
        text-align: center;     
        margin-bottom: 1.5vw;     
        font-family: 'Cormorant Garamond', serif; 
    }  
    p{     
        font-family: 'Cormorant Garamond', serif;     
        font-size: 1.10vw;      
    }

    .header{
        width: 95vw;    
        padding: 1vw;
        flex-direction: row;
        justify-content: space-between;
    }

    .autors {
        margin-top: 0.1vw;
        display: flex;
        width: 10vw;
        height: 10vh;
    }

    hr {
        border: none;
        border-top: 5px double #333;
        color: #333;
        overflow: visible;
        text-align: center;
        font-weight: bold;
        height: 5px; 
        margin-top: 0%;
    }
    hr:after {
        background: black;
        content: 'W.P';
        padding: 0 0px;
        position: relative;
        top: -18px;
        border: solid;
        background-image: url(Images/backiiiii.png);
    }

    .ql{
        width: 25%;
        height: 67.8vh;
        border-right: 1px solid;
        padding: 1vh;
        padding-bottom: 0%;
    }

    .ql>img{
        width: 30%;
        height: auto;
        margin-left: 30%;
        margin-bottom: 0%;
    }

    .wcs{   
        width: 50%;
        height: 65vh;
        border-right: 1px solid;
        margin-right: 1vh;
        padding: 1vw;
    }

    .wcs>img{
        width: 25%;
        height: auto;
        margin-left: 35%;
    }

    .logointe{
        width: 45%;
        height: auto;
        margin-left: 25%;
        border-radius: 30%;
    }

    .articles{
        display: flex;
        justify-content: flex-start;
        width: 97.6vw;
    }

    h3{
        font-family: 'MedievalSharp', 'cursive';
        text-align: center;
        text-decoration: underline;
        font-size: 3vh;
    }

    .wcs>h3{
        font-size: 4vh;
    }

    .inte{
        width: 25%;
        height: 15vh;
    }

    .banniere>img{
        width: 98vw;
        height: 35vh;
        margin-top: 0;
        margin-bottom: 0;
        filter: grayscale(0);
    }
    .damien{
        width: 27%;
        height: 15%;
        margin-left: 25%;
    }

    img{
        width: 25vw;    
        height: 30vh;
        display: flex;
        filter: grayscale(1);
        border-radius:8px ;   
    }

    img:hover{
        filter: grayscale(0);
    }

    .photo{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .temoi{
        width: 50%;
        height: auto;
        border-right: 1px solid;
    }
    .temoi2{
        width: 50%;
        height: auto;
        margin-left: 5px;
        padding: 0.5%;
    }
    
    .interview{
        display: flex;
        justify-content: space-between;
    }

    .logopost{
        display: block;
        margin-left: 35%;
        margin-right: auto;
        width: 55%;
        border-radius: 50%;
    }
    .damien{
        height: 35%;
        width: 25%;
        margin-left: 35%;
        border-radius: 8px;
    }
    .fabrice{
        height: 35%;
        width: 30%;
        margin-left: 33%;
        margin-top: 5%;
        border-radius: 8px;
    }
    figcaption{
        text-align: center;
        font-family: 'MedievalSharp', cursive; 
    }
    .footer{
        height: 100%; 
        text-align: end;      
    }
    .container {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around; 
    }
    .lk>img{
        width: 30%;
        height: 65%;
        margin-left: 30%;
        border-radius: 8px;
    } 
    .logo{
          width: 25%;
          height: 25%;
    }
    .photo>img{
        width: 85%;
        height: 85%;
        margin-left: 19%;
        border-radius: 8px;
    }
    .lien{
        font-size: 150%;
        margin-left: 0%;
    }
    a{
        margin-right: 4%;
        color: black;
        text-decoration: none;
    }
    a:visited{
        color: black;
        text-decoration: none;
    }
    .lastarticle{
        text-align: center;
    }
    
}


@media (max-width: 1100px){
    body{
        background-image: url(Images/backiiiii.png);
        font-family: 'MedievalSharp', cursive;
    }
    .articles, .photo, .lastarticle{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .photo{
        text-align: center;
    }
    .ql, .wcs, .inte{
        width: 80%;
        border-right: none;
        margin-bottom: 35px;
    }
    .ql>p{
        font-size: 20px;
        font-family: 'Cormorant Garamond', serif;
    }
    .ql>img{
        width: auto;
        height: auto;
    }
    .wcs>p{
        font-size: 20px;
        font-family: 'Cormorant Garamond', serif;
    }
    .inte>p{
        font-size: 20px;
        font-family: 'Cormorant Garamond', serif;
    }
    img{
        width: 60%;
        height: 75%;
        filter: grayscale(1);
        border-radius: 8px;
    }
    img:hover{
        filter: grayscale(0);
    }
    .banniere>img{
        width: 100%;
        height: 45%;
        filter: grayscale(0);
    }
    h1{
        text-align: center;
    }
    .date{
        text-align: right;
    }
    h2{
        text-align: center;
    }
    .intro{
        text-align: center;
        font-family: 'Cormorant Garamond', serif;
    }
    h3{
        text-align: center;
        text-decoration: underline;
    }
    .logowild{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        height: auto;
    }
    .damien{
        width: 30%;
        height: 15%;
        margin-left: 38%;
        margin-bottom: 2%;
        margin-top: 2%;
        border-radius: 8px;
    }
    .fabrice{
        height: 35%;
        width: 30%;
        margin-left: 40%;
        border-radius: 8px;
    }
    .logopost{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 50%;
        width: 30%;
        border-radius: 50%;
    }
    .logoquartierlibre{
        margin-left: 28%;
        height: auto;
    }
    hr {
        border: none;
        border-top: 5px double #333;
        color: #333;
        overflow: visible;
        text-align: center;
        font-weight: bold;
        height: 4px;
    }
    hr:after {
        content: 'W.P';
        padding: 0 4px;
        position: relative;
        top: -13px;
        border: solid;
        background-image: url(Images/backiiiii.png);
    }
    p{
        font-family: 'Cormorant Garamond', serif;
    }
    .logointe{
        width: 45%;
        height: auto;
        margin-left: 25%;
        border-radius: 30%;
    }
    .footer{
        display: flex;
        justify-content: center;
        margin-top: 35px;
        flex-direction: column;
    }
    li{
        list-style-type: none;
        text-align: center;
        text-decoration: black;
    }
    li>p{
        color: black;
    }
    a{
        color: black;
        text-decoration: none;
    }
    a:visited{
        color: black;
        text-decoration: none;
    }
    .container{
        margin-left: 15%;
        column-count: 2;
    }

}

@media (max-width:375px){
    body{
        background-image: url(Images/backiiiii.png);
    }
    header{
        background-image: url(Images/backiiiii.png);
       height: 100vh;
       width: 100%; 
       display: flex;
       flex-direction: column;
    }
    .banniere1{
        display: flex;
        flex-direction: column;
        margin-top: 70%;
    }
    .wildpost{
        margin: auto;
    }
    .autors{
        margin-top: 0px;
    }
    .wildpost>h1{
        font-size: 5vh;
        text-align: center;
        font-family: 'MedievalSharp', cursive; 
    }
    .autors>p{
        font-size: 2vh;
        font-family: 'MedievalSharp', cursive;
    }
    .date{
        display: flex;        
    }
    .date>p{
        font-size: 2vh;
          font-family: 'MedievalSharp', cursive;
    }

    h2{   
        font-family: 'MedievalSharp', cursive;     
        text-align: center;     
        font-size: 30px; 
    } 
    p{
        font-family: 'Cormorant Garamond', serif;
    }
    .intro>p{
        text-align: center;
        font-family: 'Cormorant Garamond', serif;
    }
    .banniere>img{
        height: 130%;
        width: 100%;
        filter: grayscale(0);
        
    }
    .wcs>img{
        width: 70%;
        height: 75%;
    }
    .ql>img{
        width: 70%;
        height: 75%;
    }
    .photo{
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
    img{
        width: 75%;
        height: 85%;
        margin-bottom: 5%;
        margin-top: 5%;
        filter: grayscale(1);
    }
    img:hover{
        filter: grayscale(0);
    }
    .wcs{
        width: 100%;
        order: 1;
    }
    .logoquartierlibre{
        margin-left: 15%;
    }
    .ql{
        width: 100%;
        order: 2;
    }
    .inte{
        width: 100%;
        order: 3;
    }
    .logowild{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
    }
    .logopost{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 50%;
        width: 50%;
        border-radius: 50%;
    }
    .damien{
        width: 40%;
        height: 15%;
        margin-left: 25%;
        border-radius: 8px;
    }
    .fabrice{
        height: 40%;
        width: 50%;
        margin-left: 25%;
        border-radius: 8px;
    }
    hr {
        border: none;
        border-top: 5px double #333;
        color: #333;
        overflow: visible;
        text-align: center;
        font-weight: bold;
        height: 4px;
    }
    hr:after {
        content: 'W.P';
        padding: 0 4px;
        position: relative;
        top: -13px;border: solid;
        background-image: url(Images/backiiiii.png);

    }
    p{
        font-family: 'Cormorant Garamond', serif;
    }
    .logointe{
        width: 45%;
        height: 65%;
        margin-left: 25%;
        border-radius: 30%;
    }
    .footer{
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }
    a{
        color: black;
        text-decoration: none;
    }
    a:visited{
        color: black;
        text-decoration: none;
    }
    .lk{
        margin: 0;
        margin-bottom: 0;
    }
}