@media (min-width: 1100px){
    body{
        margin: 0.3vw;
        padding: 0.3vw;
        background-image: url(Images/backiiiii.png);
        background-attachment: fixed;   
    }

    header{
        display: flex;
        background-attachment: fixed;  
    }

    .date>p{
        margin-top: 23vw;
        margin-bottom: 0%;
    }

    h1{         
        font-size: 4vw;     
        font-family: 'MedievalSharp', cursive;      
    }  

    h2{     
        font-family: 'MedievalSharp', cursive;     
        text-align: center;     
        font-size: 3vw; 
    }  

    .intro>p {     
        font-size: 1.5vw;     
        text-align: center;     
        margin-bottom: 1.5vw;     
        font-family: 'Cormorant Garamond', serif; 
    }  
    p{     
        font-family: 'Cormorant Garamond', serif;     
        font-size: 1.06vw;      
    }

    .header{
        width: 95vw;    
        padding: 1vw;
        flex-direction: row;
        justify-content: space-between;
    }

    .autors {
        margin-top: 0.1vw;
        display: flex;
        width: 10vw;
        height: 10vh;
    }

    .separation{
        margin-top: 0%;
        padding: 0.4vw;
        background-color: Black;   
        border: 0em; 
        border-radius: 6px 6px;
    }

    .ql{
        width: 25%;
        height: 60vh;
        border-right: 1px solid;
        padding: 1vh;
    }

    .ql>img{
        width: 30%;
        height: 30%;
        margin-left: 30%;
    }

    .wcs{   
        width: 50%;
        height: 60vh;
        border-right: 1px solid;
        margin-right: 1vh;
        padding: 1vw;
    }

    .wcs>img{
        width: 25%;
        height: 20%;
        margin-left: 35%;
    }

    .articles{
        display: flex;
        justify-content: flex-start;
        width: 97.6vw;
    }

    h3{
        font-family: 'MedievalSharp', 'cursive';
        text-align: center;
        text-decoration: underline;
        font-size: 2vh;
    }

    .wcs>h3{
        font-size: 3vh;
    }

    .inte{
        width: 25%;
        height: 15vh;
    }

    .banniere>img{
        width: 98vw;
        height: 35vh;
        margin-top: 0;
        margin-bottom: 0;
        filter: grayscale(0);
    }
    .damien{
        width: 27%;
        height: 15%;
        margin-left: 25%;
    }

    img{
        width: 25vw;    
        height: 30vh;
        display: flex;
        filter: grayscale(1);   
    }

    img:hover{
        filter: grayscale(0);
    }

    hr{
        height: 0.1vh;
        background-color: black;
    }

    .photo{
        display: flex;
        justify-content: space-around;
    }

    .temoi{
        width: 50%;
        height: 0 auto;
        border-right: 1px solid;
    }
    .temoi2{
        width: 50%;
        height: 0 auto;
        margin-left: 5px;
    }
    
    .interview{
        display: flex;
        justify-content: space-between;
    }

    .logopost{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .damien{
        height: 30%;
        width: 23%;
        margin-left: 35%;
    }
    .fabrice{
        height: 35%;
        width: 30%;
        margin-left: 33%;
    }

}
@media (max-width: 1100px){
    body{
        background-image: url(Images/backiiiii.png);
        font-family: 'MedievalSharp', cursive;
    }
    .articles, .photo, .lastarticle{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .photo{
        text-align: center;
    }
    .ql, .wcs, .inte{
        width: 80%;
        border-right: none;
        margin-bottom: 35px;
    }
    .ql>p{
        font-size: 20px;
    }
    .ql>img{
        width: auto;
        height: auto;
    }
    .wcs>p{
        font-size: 20px;
    }
    .inte>p{
        font-size: 20px;
    }
    img{
        width: 60%;
        height: 75%;
        filter: grayscale(1);
    }
    img:hover{
        filter: grayscale(0);
    }
    .banniere>img{
        width: 100%;
        height: 45%;
        filter: grayscale(0);
    }
    h1{
        text-align: center;
    }
    .date{
        text-align: right;
    }
    h2{
        text-align: center;
    }
    .intro{
        text-align: center;
    }
    h3{
        text-align: center;
        text-decoration: underline;
    }
    .logowild{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
    }
    .damien{
        width: 30%;
        height: 15%;
        margin-left: 33%;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .fabrice{
        height: 35%;
        width: 30%;
        margin-left: 33%;
    }
    .logopost{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 50%;
        width: 30%;
    }
    .logoquartierlibre{
        margin-left: 15%;
    }
}

@media (max-width:375px){
    body{
        background-image: url(Images/backiiiii.png);
    }
    header{
        background-image: url(Images/backiiiii.png);
       height: 100vh;
       width: 100%; 
       display: flex;
       flex-direction: column;
    }
    .wildpost{

        margin: auto;
    }
    .autors{
        margin-top: 0px;
    }
    .wildpost>h1{
        font-size: 5vh;
        text-align: center;
        font-family: 'MedievalSharp', cursive; 
    }
    .autors>p{
        font-size: 2vh;
        font-family: 'MedievalSharp', cursive;
    }
    .date{
        display: flex;        
    }
    .date>p{
        font-size: 2vh;
          font-family: 'MedievalSharp', cursive;
    }

    h2{   
        font-family: 'MedievalSharp', cursive;     
        text-align: center;     
        font-size: 30px; 
    } 
    p{
        font-family: 'MedievalSharp', cursive;
    }
    .intro>p{
        text-align: center;
    }
    .banniere>img{
        height: 130%;
        width: 100%;
        filter: grayscale(0);
        
    }
    .wcs>img{
        width: 70%;
        height: 75%;
    }
    .ql>img{
        width: 70%;
        height: 75%;
    }
    .photo{
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
    img{
        width: 75%;
        height: 85%;
        margin-bottom: 35px;
        filter: grayscale(1);
    }
    img:hover{
        filter: grayscale(0);
    }
    .wcs{
        width: 100%;
        order: 1;
    }
    .logoquartierlibre{
        margin-left: 15%;
    }
    .ql{
        width: 100%;
        order: 2;
    }
    .inte{
        width: 100%;
        order: 3;
    }
    .logowild{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
    }
    .logopost{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 50%;
        width: 50%;
    }
    .damien{
        width: 40%;
        height: 15%;
        margin-left: 25%;
    }
    .fabrice{
        height: 40%;
        width: 50%;
        margin-left: 25%;
    }

}