body{
    padding: 4px;
}

header{
    display: flex;
}

h1{
    font-size: 5em;
    font-family: 'MedievalSharp', cursive;
    
}

h2{
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    font-size: 3em;
}

.intro>p {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Cormorant Garamond', serif;
}

p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    
}

.header{
    background-color: ivory;
    width: 100%;
    padding: 4px;
    flex-direction: row;
    justify-content: space-between;
}

.autors {
    margin-top: 30px;
    display: flex;
    width: 150px;
    height: 150px;
}

.separation{
    padding: 4px;
    background-color: Black;   
    border: 0em; 
    border-radius: 6px 6px;
}

.ql{
    width: 25%;
    height: 600px;
    border-right: 1px solid;
    padding: 6px;
}

.wcs{
    width: 50%;
    height: 600px;
    border-right: 1px solid;
    margin-right: 4px;
    padding: 6px;
}

.articles{
    display: flex;
    justify-content: flex-start;
}

h3{
    font-family: 'MedievalSharp', 'cursive';
    text-align: center;
    text-decoration: underline;
}

.wcs>h3{
    font-size: 25px;
}

.inte{
    width: 25%;
    height: 490px;
}

.wcs>img{
    background-color: black;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

img{
    width: 400px;
    height: 300px;
    display: flex;
    filter: grayscale(1);   
}

img:hover{
    filter: grayscale(0);
}


.photo{
    display: flex;
    justify-content: space-around;
}