body{
    width: 100%;
    padding: 4px;
}

header{
    display: flex;
}

.header{
    background-color: ivory;
    width: 100%;
    padding: 4px;
    flex-direction: row;
}

.autors {
    display: flex;
    width: 150px;
    height: 150px;
}

.separation{
    width: 100%;
    padding: 4px;
    height: -4px;
    background-color: Black;    
}