body{
    padding: 4px;
}

header{
    display: flex;
}

h1{
    font-size: 5em;
    font-family: 'MedievalSharp', cursive;
    
}

h2{
    font-family: 'MedievalSharp', cursive;
    margin-left: 310px;
}

p{
    font-family: 'Cormorant Garamond', serif;
}

.header{
    background-color: ivory;
    width: 100%;
    padding: 4px;
    flex-direction: row;
    justify-content: space-between;
}

.autors {
    margin-top: 30px;
    display: flex;
    width: 150px;
    height: 150px;
}

.separation{
    padding: 4px;
    background-color: Black;   
    border: 0em; 
    border-radius: 6px 6px;
}